.banner{
    display: flex;
    justify-content: center;
    position: relative;  /*testing*/
    top:0;
    left:auto;
    right:auto; 
}
.banner a{
    position: absolute;  /*testing*/
    top:0;
    left:auto;
    right:auto; 
    max-width:1200px;
}
.img{
    width: 1200px;
    height: 380px;  
    position: relative;  /*testing*/ 
    /*top:-300px;*/
    left:auto;
    right:auto; 
}
.btn{    
    background-color: black;
    color:white;
    text-align: center;
    font-size:16px;
    z-index:10;
    position: absolute;  
    right:0;
    bottom: 0;
}
.slideUp{
    overflow: hidden;
    width: 1200px;
    height: 80px;    
    transition: height 2s;        
}
.slideDown{
    width: 1200px;
    height: 380px;    
    transition: height 2s;    
}
